Body {
	background-color: darkgray;
}
a:link {
	color: aqua;
	background-color: purple;
	text-decoration: tomato;
}

a:visited{
	color: black;
	background-color: maroon;
	text-decoration: none;
}

a:hover {
	color: yellow;
	background-color: green;
	text-decoration: yellowgreen;
}

h1 {
	color: cyan;
	font-family: monospace;
	font-size: 50px;
}
h2 {
	color: purple;
	font-family: inherit;
	font-size: 40px;
}
p {
	color: darkred;
}

